body {
  margin: 0;
}

}
/* On devices wider than 660px */
@media(min-width: 660px) {
}

/* On devices wider than 940px */
@media(min-width: 940px) {
}

}

.group:after {
  content: "";
  display: table;
  clear: both;
}  /*this is the clearfix!*/

/*fonts and fluffy things :-)*/

h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.875em;
  color: #323232;
  font-weight: 700;
}

h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #00897f;
  font-size: 1.5em;
  font-weight: 700;
}

h3 {
  font-family: 'PT Serif Regular', serif;
  font-size: 1em;
  line-height: 2em;
  color: #323232;
}

p {
  font-family: 'PT Serif', serif;
  line-height: 1.75em;
  font-size: .875em;
  color: #323232;
}

a {
  font-family: 'PT Serif', serif;
  font-size: 1em;
  line-height: 2em;
  color: #f26522;
  font-weight: bold;
}

footer h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #323232;
  font-size: 1.25em;
}

/*Nav it your way*/

#navbar {
  position: fixed;
  width: 100%;
  height: 5em;
  background: #eeeeee;
  color: #323232;
  box-shadow: auto;
}

@media only screen and (max-width: 780px) {
  #navbar {
    height: 7em;
  }
}

#navbar ul {
  list-style-type: none;
  text-align: center;
}

#navbar ul li p {
  text-decoration: none;
  padding-right: 7%;
  padding-top: .9375em;
  color: #323232;
  font-family: 'PT Sans Regular', sans-serif;
  font-size: .9em;
  display: inline;
  float: right;
  overflow: auto;
}

ul li h1 {
  display: inline;
  margin-top: 0;
  padding-left: 3%;
  padding-top: .625em;
  float: left;
  font-size: 1.5em;
  color: #323232;
  font-family: 'PT Sans Narrow Bold', sans-serif;
  font-weight: 300;
  overflow: auto;
}

@media only screen and (max-width: 600px) {
  ul li:first-child {
    text-align: center;
    display: block;
  }
}

main {
  background-image: url(../images/kats-hero.jpg);
  max-width: 100%;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
}

.main-content {
  padding: 39.9375em 5.625em 5em 5.625em;
}

@media only screen and (max-width: 600px) {
    .main-content {
    padding: 37em 2em 3em 2em;
  }
}

.main-content h1 {
  margin-top: 0 0 2.8125em 0;
  text-align: center;
}

.main-content p {
  width: 70%;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .main-content p {
    width: 90%;
  }
}



section.about-us {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 5em;
  width: 100%;
}

.about-us h2 {
  text-align: center;
}

.about-kat {
  width: 20%;
  height: auto;
  padding: 1.875em;
  background: #eeeeee;
  margin-right: 0.9375em;
  margin-left: 24%;
  float: left;
}

@media only screen and (max-width: 1300px) {
  .about-kat {
    float: none;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 2em;
  }
}

.about-mavis {
  width: 20%;
  height: auto;
  padding: 1.875em;
  background: #eeeeee;
  margin-right: 24%;
  margin-left: 0.9375em;
  float: right;
}

@media only screen and (max-width: 1300px) {
  .about-mavis {
    float: none;
    margin: 0 auto;
    width: 70%;
  }
}

.cat-image-section {
  margin-left: 5%;
  width: 90%;
  text-align: center;
  display: inline-block;
  margin-bottom: 5em;
}

@media only screen and (max-width: 780px) {
  .cat-image-section {
    display: none;
  }
}

.kat-1, .kat-2, .kat-3 {
  margin: 1.5625em;
  border-radius: 50%;
}

section.get-in-touch {
  width: 100%;
  background: #eeeeee;
  padding-bottom: 5em;
}

.get-in-touch h1 {
  text-align: center;
  padding: 2em 0 1.5em 0;
}

.business-hours h2, .contact-info h2 {
  text-align: center;
}

.business-hours {
  width: 21em;
  height: 15.625em;
  padding: 1.875em;
  background: #ffffff;
  float: left;
  margin-right: 1.875em;
  margin-left: 20%;
  list-style-type: none;
}

@media only screen and (max-width: 1300px) {
  .business-hours {
    float: none;
    margin: 0 auto;
    width: 21em;
    margin-bottom: 2em;
  }
}

@media only screen and (max-width: 600px) {
  .business-hours {
    float: none;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 2em;
  }
}

.contact-info {
  width: 21em;
  height: 15.625em;
  padding: 1.875em;
  background: #ffffff;
  float: right;
  margin-left: 1.875em;
  margin-right: 20%;
}

@media only screen and (max-width: 1300px) {
  .contact-info {
    float: none;
    margin: 0 auto;
    width: 21em;
  }
}

@media only screen and (max-width: 600px) {
  .contact-info {
    float: none;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 2em;
  }
}

.get-in-touch {
  list-style-type: none;
  float: left;
}

.contact-info h3, .business-hours h3 {
  display: block;
  margin-left: 2em;
  margin-top: 0;
}

@media only screen and (max-width: 1300px) {
  .business-hours h3, .contact-info h3 {
    margin-left: 2.25em;
    margin-right: .5em;
  }
}

@media only screen and (max-width: 780px) {
  .business-hours h3, .contact-info h3 {
    margin-left: 2.25em;
    margin-right: .5em;
  }
}

@media only screen and (max-width: 600px) {
  .business-hours h3, .contact-info h3 {
    margin-left: 10%;
    margin-right: .5em;
  }
}

.contact-info .address-heading {
  float: left;
  display: inline;
}

.contact-info .address-section a {
  display: inline;
  text-decoration: none;
  float: right;
  vertical-align: top;
  margin-right: 4em;
  margin-top: 0;
}

@media only screen and (max-width: 600px) {
  .contact-info .address-section a {
    margin-right: 2em;
  }
}

.kats-map {
  vertical-align: top;
  width: 100%;
  height: auto;
}

footer {
  background: #00897f;
  height: 8.75em;
  width: 100%;
  vertical-align: top;
}

footer h1 {
  text-align: center;
  padding-top: 3.75em;
  color: #ffffff;
  margin-top: 0;
}
