html {
  width: 100%;
}

body {
  margin: 0;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}  /*this is the clearfix!*/

/*fonts and fluffy things :-)*/

h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.875em;
  color: #323232;
  font-weight: 700;
}

h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #00897f;
  font-size: 1.5em;
  font-weight: 700;
}

h3 {
  font-family: 'PT Serif Regular', serif;
  font-size: 1em;
  line-height: 2em;
  color: #323232;
}

p {
  font-family: 'PT Serif', serif;
  line-height: 1.75em;
  font-size: .875em;
  color: #323232;
}

a {
  font-family: 'PT Serif', serif;
  font-size: 1em;
  line-height: 2em;
  color: #f26522;
  font-weight: bold;
}

footer h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #323232;
  font-size: 1.25em;
}

/*Nav it your way*/

nav {
  position: fixed;
  width: 100%;
  height: 5em;
  background: #eeeeee;
  color: #323232;
  box-shadow: auto;
}

@media only screen and (max-width: 780px) {
  nav {
    height: 6em;
  }
}

nav ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

nav p {
  text-decoration: none;
  padding-right: 7%;
  padding-top: 0;
  color: #323232;
  font-family: 'PT Sans Regular', sans-serif;
  font-size: .9em;
  display: inline;
  float: right;
  overflow: auto;
  list-style-type: none;
  text-align: center;
}

@media only screen and (max-width: 780px) {
  nav p {
    width: 70%;
    padding: 20px;
    margin: 0 auto;
    float: none;
  }

  nav ul li {
    width: 100px;
    float: none;
    margin: 0 auto;
    display: inline;
  }
}

nav h1 {
  display: inline;
  margin-top: 0;
  padding-left: 3%;
  padding-top: 1.1em;
  float: left;
  font-size: 1.5em;
  color: #323232;
  font-family: 'PT Sans Narrow Bold', sans-serif;
  font-weight: 300;
  overflow: auto;
}

@media only screen and (max-width: 780px) {
  nav h1 {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 100%;
    padding-left: 0;
    padding-top: .7em;
    padding-bottom: .3em;
  }
}


main {
  background-image: url(../images/kats-hero.jpg);
  background-position: center top;
  background-attachment: relative;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
}

.kat-hero-mobile {
  margin: 0 auto;
  margin-top: 80px;
  width: 11.3em;
  margin-bottom: 2em;
  position: center center;
}

@media only screen and (min-width: 470px) {
    .kat-hero-mobile {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
    main {
    background-image: url(../images/kats-hero-mobile.jpg);
    background-position: center top;
    background-attachment: relative;
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 470px) {
    main {
    background-image: url(../images/kats-hero-mobile.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-position: top;
  }
}

.main-content {
  padding: 39.9375em 5.625em 5em 5.625em;
}

@media only screen and (max-width: 470px) {
    .main-content {
    padding: 1em 2em 0 2em;
  }
}

.main-content h1 {
  margin-top: 0 0 2.8125em 0;
  text-align: center;
}

@media only screen and (max-width: 600px) {
   .main-content h1 {
    margin-top: 0;
    text-align: center;
    font-size: 1.6em;
  }
}

.main-content p {
  width: 70%;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .main-content p {
    width: 90%;
  }
}

.about-us {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-self: center;
  margin-bottom: 80px;
  margin: 0 auto;
}

@media only screen and (max-width: 1100px) {
    .about-us {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 100px;
      margin: 0 auto;
      margin-top: 30px;
  }
}

.about-us article {
  width: 15%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #eeeeee;
  padding: 30px;
  margin-bottom: 80px;
}

@media only screen and (max-width: 1100px) {
    .about-us article {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

.about-us h2 {
  text-align: center;
  margin-bottom: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.cat-image-section {
   width: 90%;
   margin: 0 auto;
   text-align: center;
   margin-bottom: 0;
 }

 .kat-1, .kat-2, .kat-3 {
  margin: 1.5625em;
  border-radius: 50%;
  width: 20%;
 }

@media only screen and (max-width: 500px) {
 .kat-1, .kat-2 {
   display: none;
 }

 .kat-3 {
   width: 70%;
 }
}

.get-in-touch {
  width: 100%;
  background: #eeeeee;
  padding-bottom: 5em;
  list-style-type: none;
  float: left;
  margin-top: 80px;
}

@media only screen and (max-width: 500px) {
    .get-in-touch {
    padding: 0;
    margin: 0;
  }
}

.get-in-touch h1 {
  text-align: center;
  padding: 2em 0 1.5em 0;
}

.business-hours h2, .contact-info h2 {
  text-align: center;
}

.business-hours {
  width: 21em;
  height: 15.625em;
  padding: 1.875em;
  background: #ffffff;
  float: left;
  margin-right: 1.875em;
  margin-left: 20%;
  list-style-type: none;
}

@media only screen and (max-width: 1435px) {
  .business-hours {
    float: none;
    margin: 0 auto;
    width: 40em;
    margin-bottom: 2em;
    display: block;
  }
}

@media only screen and (max-width: 800px) {
  .business-hours {
    float: none;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 2em;
  }
}

.contact-info {
  width: 21em;
  height: 15.625em;
  padding: 1.875em;
  background: #ffffff;
  float: right;
  margin-left: 1.875em;
  margin-right: 20%;
}

@media only screen and (max-width: 1435px) {
  .contact-info {
    float: none;
    margin: 0 auto;
    width: 40em;
    margin-bottom: 2em;
    display: block;
  }
}

@media only screen and (max-width: 800px) {
  .contact-info {
    float: none;
    display: block;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 2em;
  }
}

@media only screen and (max-width: 500px) {
  .business-hours, .contact-info {
    background: #eeeeee;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
}

.contact-info h3, .business-hours h3 {
  display: block;
  margin-bottom: 1em;
  margin-top: 0;
}

.contact-info-static, .business-hours-static {
  width: 266px;
  margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  .contact-info-static, .business-hours-static {
    width: 260px;
    margin: inherit;
  }
}

h3.address-heading {
  width: 86px;
  display: inline;
}

.address-section {
  width: 160px;
  margin-right: 21px;
  float: right;
  display: inline;
}

.kats-map {
  vertical-align: top;
  width: 100%;
  height: auto;
  position: relative;
  height: auto;
}

footer {
  background: #00897f;
  height: 8.75em;
  width: 100%;
  vertical-align: top;
}

footer h1 {
  text-align: center;
  padding-top: 3.75em;
  color: #ffffff;
  margin-top: 0;
}

@media only screen and (max-width: 500px) {
  footer {
    display: none;
  }

  footer h1 {
    display: none;
  }
}
